<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1">
        <!-- Partial que contiene el código del css -->
        <% include partials/head.html %>
        <title>Página principal</title>
    </head>

    <body>
        <!-- Menú colocado en la parte izquierda -->
        <div id="menu_navegacion"></div>
     
        <!-- Menú de navegación con botones -->
        <div class="centrado">
            <button id="cerrar_sesion" class="circular ui right floated button">
                    <i class="user circle icon"></i>
                    Cerrar sesión
            </button>
            <br><br><br>
            <div class="wrap">
                <div class="secciones">
                    <!--Menu para mostrar los pagos pendientes-->
                    <article name="mostrar_pagos" id="mostrar_pagos"> 
                        <div class="ui celled grid">
                            <div class="row">
                                <div id="tablas" class="twelve wide column">
                                    <table name="tbl_pagos_pendientes" id="tbl_pagos_pendientes" class="ui selectable celled table">
                                        <thead>
                                            <tr>
                                                <th>Número de cliente</th>
                                                <th>Calle</th>
                                                <th>Número</th>
                                                <th>Colinia</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_cobranza">
                                        </tbody>
                                    </table>
                                </div>
                                <!--Botones de navegacion-->
                                <div class="two wide column">
                                    <div class="ui vertical labeled icon buttons">
                                        <button class="ui button" id="cobranza_proceder" href="#form_pagos">
                                            <i class="large angle double right icon"></i>
                                            Proceder
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </article>
                    <form action="javascript:void(0);">
                        <article id="form_pagos" name="form_pagos">
                            <div class="ui form"> 
                                <h4 class="ui dividing header">Cobranza</h4>  
                                <h4>Cliente</h4> 
                                <div class="six wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_cobranza_nombre_select" name="dropdown_cobranza_nombre_select">
                                        <input type="hidden" id="cobranza_nombre" name="cobranza_nombre" autocomplete="off" required>
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Nombre</div>
                                        <div class="menu" id="dropdown_cobranza_nombre" name="dropdown_cobranza_nombre">
                                            
                                        </div>
                                    </div>
                                </div> 
                                <div class="two wide field">
                                    <h4>Monto</h4> 
                                    <input type="number" id="cobranza_monto" name="cobranza_monto" placeholder="Cantidad" autocomplete="off" required>
                                </div>    
                                <div class="four wide field">
                                    <h4>Firma electrónica</h4> 
                                    <input type="number" id="cobranza_firma" name="cobranza_firma" placeholder="firma" autocomplete="off" required>
                                </div>                                                
                                <br>
                                <button id="btn_cancelar_pago" class="ui red button ">Cancelar</button> 
                                <button id="btn_confirmar_pago" class="ui blue submit button ">Aceptar</button> 
                            </div>
                        </article>
                    </form>
                    <article name="atender_mante" id="atender_mante">
                        <table name="tbl_atender_orden" class="ui definition table">
                            <tbody id="tbody_solicitud_mantenimiento">

                            </tbody>
                        </table>
                        <div class="ui form">
                            <div class="field">
                                <label>Observaciones</label>
                                <textarea id="observaciones_mantenimiento" name="observaciones_mantenimiento" rows="3"></textarea>
                            </div>
                        </div>
                        <br>
                        <button name="Btn_cancelarMante" id="Btn_cancelarMante" class="ui red button ">Cancelar</button>
                        <button name="Btn_aceptarMante" id="Btn_aceptarMante" class="ui blue submit button ">Aceptar</button> 
                    </article>
                    <article>
                        <div class="formulario">
                            <div class="ui mini modal" id="confirmar_mantenimiento_cobranza">
                                <div class="header">
                                    Confirmación
                                </div>
                                <div class="content">
                                    <h4>¿Se realizo un mantenimiento?</h4>
                                </div>
                                <div class="actions"> 
                                    <button id="close_cancelar_registro" class="ui red button">No</button>
                                    <button id="close_aceptar_registro" class="ui blue submit button">Sí</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="formulario">
                            <div class="ui mini modal" id="confirmar">
                                <div class="header">
                                    Confirmación
                                </div>
                                <div class="content">
                                    <h4>¿Confirmar pago?</h4>
                                </div>
                                <div class="actions"> 
                                    <button id="close_cancelar_pago" class="ui red button">No</button>
                                    <button id="close_aceptar_pago" class="ui blue submit button">Sí</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="formulario">
                            <div class="ui mini modal" id="confirmar_cerrar_sesion">
                                <div class="header">
                                    Confirmación
                                </div>
                                <div class="content">
                                    <h4>¿Quiere cerrar sesión?</h4>
                                </div>
                                <div class="actions"> 
                                    <button id="close_cancelar_sesión" class="ui red button">Cancelar</button>
                                    <button id="close_aceptar_sesión" class="ui blue submit button">Aceptar</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

    <!-- Scripts de JavaScript--> -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <!-- Es el código de JavaScript utilizado en esta página -->
    <script src="/js/cobranza.js"></script>
    <!-- Codigo para el funcionamiento del calendario-->
    <script src="/js/calendario.js"></script>
    </body>
</html>