<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1">
        <!-- Partial que contiene el código del css -->
        <% include partials/head.html %>
        <title>Página principal</title>
    </head>

    <body>
        <!-- Menú colocado en la parte izquierda -->
        <div id="menu_navegacion"></div>
        
        <!-- Mensaje principal centrado -->
        <br>
        <div class="centrado">
            <h1 class="ui center aligned header">Bienvenido Adolfo García Vazquez</h1>
            <img class="ui huge centered image" src="/img/fondo_principal.png">
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <script src="js/inicio.js"></script>
    </body>
</html>