<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1">
        <!-- Partial que contiene el código del css -->
        <% include partials/head.html %>
        <title>Página principal</title>
    </head>

    <body>
        <!-- Menú colocado en la parte izquierda -->
        <div id="menu_navegacion"></div>
        <div>
            <button id="cerrar_sesion" class="circular ui right floated button">
                    <i class="user circle icon"></i>
                    Cerrar sesión
            </button>
        </div>
        <br>
        <div class="centrado">
            <div  class="centrado_titulo" id="titulo"></div>
            <img class="ui huge centered image" src="/img/fondo_principal.png">
            <article>
                <div class="formulario">
                    <div class="ui mini modal" id="confirmar_cerrar_sesion">
                        <div class="header">
                            Confirmación
                        </div>
                        <div class="content">
                            <h4>¿Quiere cerrar sesión?</h4>
                        </div>
                        <div class="actions"> 
                            <button id="close_cancelar_sesión" class="ui red button">Cancelar</button>
                            <button id="close_aceptar_sesión" class="ui blue submit button">Aceptar</button> 
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <script src="js/inicio.js"></script>
    </body>
</html>