<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1">
        <!-- Partial que contiene el código del css -->
        <% include partials/head.html %>
        <title>Página principal</title>
    </head>

    <body>
        <!-- Menú colocado en la parte izquierda -->
        <div id="menu_navegacion"></div>
     
        <!-- Menú de navegación con botones -->
        <div class="centrado">
            <br><br><br>
            <div class="wrap">   
                <div class="secciones">
                    <!--Menu de alarmas-->
                    <article> 
                        <h4>Buscar señal</h4>
                        <br>
                        <div class="ui action input">
                            <div class="ui calendar">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input id="fecha_senal" name="fecha_senal" type="text" placeholder="Fecha" autocomplete="off">
                                </div>
                            </div>
                            <button id="btn_buscar_senal" name="btn_buscar_senal" class="ui blue submit button ">Aceptar</button>
                        </div>
                        <div class="ui celled grid">
                            <div class="row">
                                <div class="twelve wide column">
                                    <table id="tbl_alarmas" name="tbl_alarmas" class="ui selectable celled table">
                                        <thead>
                                            <tr>
                                                <th>Cliente</th>
                                                <th>Señal registrada</th>
                                                <th>Fecha</th>
                                                <th>Hora</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_monitoreo">
                                        </tbody>
                                    </table>
                                </div>
                                <!--Botones de navegacion de las señales-->
                                <div class="two wide column">
                                    <div class="ui vertical labeled icon buttons">
                                        <button class="ui button" href="#registrar_señal">
                                            <i class="large angle double right icon"></i>
                                            Registrar
                                        </button>
                                        <button id="btn_contactar" class="ui button">
                                            <i class="large address card icon"></i>
                                            Contactar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>   
                    </article>
                    <!-- Formulario registrar señales -->
                    <article name="registrar_señal" id="registrar_señal">
                        <div class="ui form"> 
                            <h4 class="ui dividing header">Registrar señal</h4> 
                            <div class="ui vertically divided grid">
                                <div class="six wide column">
                                    <label>Tipo de señal</label>
                                    <select name="tipo" id="tipo">
                                        <option value="por defecto" selected="true" disabled="disabled">Elija un tipo</option>
                                        <option value="robo">Robo</option>
                                        <option value="rutina">Rutina</option>
                                        <option value="sistema">Sistema</option>    
                                    </select>
                                </div> 
                            </div>                  
                        </div>
                    </article>
                    <!--Seccion del formulario para alarmas de rutinas-->
                        <article name="evento_rutina" id="evento_rutina">
                            <div class="ui form">
                                <label class="ui dividing header">Número de cliente</label> 
                                <div class="four wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_cliente_rutina_select" name="dropdown_cliente_rutina_select">
                                        <input type="hidden" id="num_cliente_rutina" name="num_cliente_rutina" autocomplete="off">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Número cliente</div>
                                        <div class="menu" id="dropdown_num_cliente_rutina" name="dropdown_num_cliente_rutina">
                                            
                                        </div>
                                    </div>
                                </div> 
                                <label class="ui dividing header">Evento</label> 
                                <div class="four wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_evento_rutina_select" name="dropdown_evento_rutina_select">
                                        <input type="hidden" id="evento_rutina" name="evento_rutina" autocomplete="off">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Número cliente</div>
                                        <div class="menu" id="dropdown_evento_rutina" name="dropdown_evento_rutina">
                                            
                                        </div>
                                    </div>
                                </div> 
                                <label class="ui dividing header">Usuario</label> 
                                <div class="four wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_zona_select" name="dropdown_zona_select">
                                        <input type="hidden" id="usuario_rutina" name="usuario_rutina" autocomplete="off">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Zona</div>
                                        <div class="menu" id="dropdown_usuario" name="dropdown_usuario">
                                            
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <br>
                            <button class="ui red button ">Cancelar</button>
                            <button id="btn_señal_rutina" name="btn_señal_rutina" class="ui blue submit button ">Aceptar</button> 
                        </article>
                    </form>
                    <!--Seccion del formulario para alarmas robos-->
                        <article name="evento_robo" id="evento_robo">
                            <div class="ui form">
                                <label class="ui dividing header">Número de cliente</label> 
                                <div class="four wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_cliente_robo_select" name="dropdown_cliente_robo_select">
                                        <input type="hidden" id="num_cliente_robo" name="num_cliente_robo" autocomplete="off">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Número cliente</div>
                                        <div class="menu" id="dropdown_num_cliente_robo" name="dropdown_num_cliente_robo">
                                            
                                        </div>
                                    </div>
                                </div> 
                                <label class="ui dividing header">Evento</label> 
                                <div class="four wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_evento_robo_select" name="dropdown_evento_robo_select">
                                        <input type="hidden" id="evento_robo" name="evento_robo" autocomplete="off">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Número cliente</div>
                                        <div class="menu" id="dropdown_evento_robo" name="dropdown_evento_robo">
                                            
                                        </div>
                                    </div>
                                </div> 
                                <label class="ui dividing header">Zona activada</label> 
                                <div class="four wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_zona_select" name="dropdown_zona_select">
                                        <input type="hidden" id="zona_evento_robo" name="zona_evento_robo" autocomplete="off">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Zona</div>
                                        <div class="menu" id="dropdown_zona" name="dropdown_zona">
                                            
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <br>
                            <button class="ui red button ">Cancelar</button>
                            <button id="btn_señal_robo" name="btn_señal_robo" class="ui blue submit button ">Aceptar</button> 
                        </article>
                    <!--Seccion del formulario alarmas del sistema-->
                        <article name="evento_sistema" id="evento_sistema">
                            <div class="ui form">
                                <label class="ui dividing header">Número de cliente</label> 
                                <div class="four wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_cliente_sistema_select" name="dropdown_cliente_sistema_select">
                                        <input type="hidden" id="num_cliente_sistema" name="num_cliente_sistema" autocomplete="off">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Número cliente</div>
                                        <div class="menu" id="dropdown_num_cliente_sistema" name="dropdown_num_cliente_sistema">
                                            
                                        </div>
                                    </div>
                                </div> 
                                <label class="ui dividing header">Evento</label> 
                                <div class="four wide field">
                                    <div class="ui fluid search selection dropdown" id="dropdown_evento_sistema_select" name="dropdown_evento_sistema_select">
                                        <input type="hidden" id="evento_sistema" name="evento_sistema" autocomplete="off">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Número cliente</div>
                                        <div class="menu" id="dropdown_evento_sistema" name="dropdown_evento_sistema">
                                            
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <br>
                            <button class="ui red button ">Cancelar</button>
                            <button id="btn_señal_sistema" name="btn_señal_sistema" class="ui blue submit button ">Aceptar</button> 
                        </article>
                    <!--Modal para cuando se registra una solicitud-->
                    <article>
                        <div class="formulario">
                            <div class="ui mini modal" id="confirmar_señal">
                                <div class="header">
                                    Confirmación
                                </div>
                                <div class="content">
                                    <h4>Señal registrada</h4>
                                </div>
                                <div class="actions">
                                    <button id="aceptar_señal" class="ui blue submit button">Aceptar</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--Modal para ver los contactos del cliente-->
                    <article>
                        <div class="formulario">
                            <div class="ui modal" id="modal_detalle_contactos">
                                <div class="header">
                                    Cliente
                                </div>
                                <div class="content">
                                    <table id="tabla_datos_cliente" name="tabla_datos_cliente" class="ui celled table">
                                        <thead>
                                            <tr>
                                                <th>Nombre Cliente</th>
                                                <th>Domicilio</th>
                                                <th>Teléfono</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_datos_cliente">
                                        </tbody>
                                    </table>
                                    <label class="ui dividing header">Contactos</label> 
                                    <table id="tbl_contactos" name="tbl_contactos" class="ui celled table">
                                        <thead>
                                            <tr>
                                                <th>Conctacto</th>
                                                <th>Nombre</th>
                                                <th>Teléfono</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_datos_contacto">
    
                                        </tbody>
                                    </table>
                                </div>
                                <div class="actions">
                                    <button id="close_modal_detalle" class="ui blue submit button">Aceptar</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

     <!-- Scripts de JavaScript--> -->
     <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
     integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
     crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
    <!-- Es el código de JavaScript utilizado en esta página -->
    <script src="/js/monitoreo.js"></script>
    <!-- Script para las fechas -->
    <script src="/js/calendario.js"></script>
    </body>
</html>