<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1">
        <!-- Partial que contiene el código del css -->
        <% include partials/head.html %>
        <title>Página principal</title>
    </head>

    <body>
        <!-- Menú colocado en la parte izquierda -->
        <div id="menu_navegacion"></div>

        <!--Menú de trabajo-->
        <div class="centrado">
            <br><br><br>
            <div class="wrap" id="index_orden_trabajo">
                <!--Secciones que se van a desplegar-->
                <div class="secciones">
                    <!--Menú para mostrar las solicitudes que estan pendientes de asignar un empleado-->
                    <article id="menu_orden_trabajo" name="menu_orden_trabajo">
                        <h4 class="ui dividing header">Generar orden de trabajo</h4>
                        <div class="ui celled grid">  
                            <div class="row">
                                <div id="tablas"  class="twelve wide column">
                                    <table id="tbl_orden_trabajo" name="tbl_orden_trabajo" class="ui selectable celled table">
                                        <thead>
                                            <tr>
                                                <th>Folio</th>
                                                <th>Servicio</th>
                                                <th>Fecha de visita</th>
                                                <th>Hora de visita</th>
                                                <th>Empleado</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbody_orden_trabajo">
                                            <tr>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="two wide column">
                                    <div class="ui vertical labeled icon buttons">
                                        <button href="#form_asignar" id="btn_asignar" class="ui button">
                                            <i class="large angle double right icon"></i>
                                            Asignar
                                        </button>
                                        <button href="#form_detalle" id="btn_detalle" class="ui button">
                                            <i class="large address card icon"></i>
                                            Detalle
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </article>
                    <!--Menú para seleccionar el trabajador que se asignará a una orden de trabajo-->
                    <article id="form_asignar" name="form_asignar">
                        <div class="ui form"> 
                            <h4 class="ui dividing header">Asignación de empleado</h4>  
                            <label class="ui dividing header">Empleado</label> 
                            <div class="six wide field">
                                <div class="ui fluid search selection dropdown" id="dropdown_orden_empleado_select" name="dropdown_orden_empleado_select">
                                    <input type="hidden" id="orden_empleado" name="orden_empleado" autocomplete="off">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Empleado</div>
                                    <div class="menu" id="dropdown_orden_empleado" name="dropdown_orden_empleado">
                                        
                                    </div>
                                </div>
                            </div>   
                            <div class="ui celled grid">
                                <div class="column">
                                    <div class="ui form">
                                        <div class="field">
                                            <label>Observaciones</label>
                                            <textarea id="observaciones_empleado" name="observaciones_empleado"></textarea>
                                        </div>
                                    </div>
                                </div>       
                            </div>                                
                            <br>
                            <button id="btn_cancelar_asignar" class="ui red button ">Cancelar</button> 
                            <button id="btn_confirmar_asignar" class="ui blue submit button ">Aceptar</button> 
                        </div>
                    </article>
                    <!--Modal paara mostrar detalles de una orden de trabajo-->
                    <article>
                        <div class="formulario">
                            <div class="ui modal" id="modal_detalle_orden">
                                <div class="header">
                                    Detalles de la orden de trabajo
                                </div>
                                <div class="content">
                                    <table name="tbl_detalle_orden_trabajo" class="ui definition table">
                                        <tbody id="modal_detalle_orden_trabajo">
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="actions">
                                    <button id="close_modal_detalle" class="ui blue submit button">Aceptar</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                    <!--Modal para confirmar orden de trabajo-->
                    <article>
                        <div class="formulario">
                            <div class="ui mini modal" id="modal_confirmar_asignar">
                                <div class="header">
                                    Orden de trabajo
                                </div>
                                <div class="content">
                                    <h4>Orden de trabajo asignada</h4>
                                </div>
                                <div class="actions">
                                    <button id="close_modal_orden_trabajo" class="ui blue submit button">Aceptar</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <!-- Scripts de JavaScript--> -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <!-- Es el código de JavaScript utilizado en esta página -->
        <script src="/js/orden_trabajo.js"></script>
        <!-- Codigo para el funcionamiento del calendario-->
        <script src="/js/calendario.js"></script>
    </body>
</html>