<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1">
        <% include partials/head.html %>
        <title>Página principal</title>
    </head>

    <body>
        <!-- Menú colocado en la parte izquierda -->
        <div id="menu_navegacion"></div>
        
        <!--Menú de trabajo-->
        <div class="centrado">
            <button id="cerrar_sesion" class="circular ui right floated button">
                    <i class="user circle icon"></i>
                    Cerrar sesión
            </button>
            <br><br><br>
            <div class="wrap">
                <!--Secciones que se van a desplegar-->
                <div class="secciones">
                    <article>
                        <div class="four wide field">
                            <label>Tipo de solicitud</label>
                            <select id="reporte" name="reporte">
                                <option value="0" selected="true" disabled="disabled">Elija una opción</option>
                                <option value="cliente">Clientes</option>
                                <option value="Cobros">Cobros</option>
                            </select>
                        </div> 
                    </article>
                    <article id="reporte_cliente" name="reporte_cliente">
                        <h4 class="ui dividing header">Clientes</h4>
                        <div class="ui celled grid">  
                            <div class="row">
                                <div id="tabla_reportes" class="column">
                                    <table name="tbl_cliente" class="ui celled table">
                                        <thead>
                                            <tr>
                                                <th>Número de cliente</th>
                                                <th>Cliente</th>
                                                <th>Dirección</th>
                                                <th>Correo electrónico</th>
                                                <th>Teléfono</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tabla_clientes">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>    
                    </article>
                    <article id="reporte_cobros" name="reporte_cobros">
                        <h4 class="ui dividing header">Reporte de cobranza por mes</h4>
                        <div class="four wide field">
                                <div class="ui action input">
                                    <div class="ui calendar">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="fecha_cobro" name="fecha_cobro" type="text" placeholder="Fecha" autocomplete="off">
                                        </div>
                                    </div>
                                    <button id="btn_buscar_cobro" name="btn_buscar_cobro" class="ui blue submit button ">Aceptar</button>
                                </div>
                            </div>
                        <div class="ui celled grid">  
                            <div class="row">
                                <div id="tabla_reportes" class="column">
                                    <table name="tbl_cobros" class="ui celled table">
                                        <thead>
                                            <tr>
                                                <th>Número de cliente</th>
                                                <th>Cliente</th>
                                                <th>Dirección</th>
                                                <th>Fecha de cobro</th>
                                                <th>Monto</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tabla_cobros">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>    
                    </article>
                    <article>
                        <div class="formulario">
                            <div class="ui mini modal" id="confirmar_cerrar_sesion">
                                <div class="header">
                                    Confirmación
                                </div>
                                <div class="content">
                                    <h4>¿Quiere cerrar sesión?</h4>
                                </div>
                                <div class="actions"> 
                                    <button id="close_cancelar_sesión" class="ui red button">Cancelar</button>
                                    <button id="close_aceptar_sesión" class="ui blue submit button">Aceptar</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>

        <!-- Scripts de JavaScript--> -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <!-- Es el código de JavaScript utilizado en esta página -->
        <script src="/js/reportes.js"></script>
        <!-- Codigo para el funcionamiento del calendario-->
        <script src="/js/calendario.js"></script>

    </body>
</html>