<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1">
        <!-- Partial que contiene el código del css -->
        <% include partials/head.html %>
        <title>Página principal</title>
    </head>

    <body>
        <!-- Menú colocado en la parte izquierda -->
        <div id="menu_navegacion"></div>

        <!--Menú de trabajo-->
        <div class="centrado">
            <button id="cerrar_sesion" class="circular ui right floated button">
                    <i class="user circle icon"></i>
                    Cerrar sesión
            </button>
            <br><br><br>
            <div class="wrap">
                <!--Secciones que se van a desplegar-->
                <div class="secciones">
                    <article id="Registar_solicitud" name="Registar_solicitud">
                        <div class="four wide field">
                            <label>Tipo de solicitud</label>
                            <select id="solicitud" name="solicitud">
                                <option value="0" selected="true" disabled="disabled">Elija una opción</option>
                                <option value="Nuevo_cliente">Nuevo cliente</option>
                                <option value="Nuevo_inmueble">Nuevo inmueble</option>
                                <option value="Nuevo_servicio">Nuevo servicio</option>
                            </select>
                        </div> 
                    </article>
                    <!--Formulario para solicitudes de clientes nuevos-->
                    <form action="javascript:void(0);">
                        <article id="Form_cliente" name="Form_cliente">
                            <div class="ui form"> 
                                <h4 class="ui dividing header">Solicitud para nuevo cliente</h4>      
                                <div class="ui vertically divided grid">
                                    <div class="four column row">
                                        <div class="column">   
                                            <label>Nombre</label>
                                            <input id="nombre_fc" type="text" placeholder="Nombre completo" autocomplete="off" required>   
                                        </div>
                                        <div class="column">   
                                            <label>Apellido paterno</label>
                                            <input id="ape_p_fc" type="text" placeholder="Nombre completo" autocomplete="off" required>   
                                        </div>
                                        <div class="column">   
                                            <label>Apellido materno</label>
                                            <input id="ape_m_fc" type="text" placeholder="Nombre completo" autocomplete="off" required>   
                                        </div>
                                        <div class="four wide column">   
                                            <label>Teléfono</label>
                                            <input id="telefono_fc" type="number" placeholder="Teléfono" autocomplete="off" required>   
                                        </div>
                                    </div>
                                </div> 
                                <div class="ui vertically divided grid">
                                    <div class="four column row">
                                        <div class="four wide column">
                                            <label>Calle</label>
                                            <input id="calle_fc" type="text" placeholder="Calle" autocomplete="off" required>
                                        </div>
                                        <div class="two wide column">
                                            <label>Número</label>
                                            <input id="num_fc" type="number" placeholder="Número" autocomplete="off" required>
                                        </div>
                                        <div class="four wide column">
                                            <label>Colinia</label>
                                            <input id="colonia_fc" type="text" placeholder="Colonia" autocomplete="off" required>
                                        </div>
                                        <div class="four wide column">
                                            <label>Servicio</label>
                                            <select type="text" class="ui fluid compact selection cliente dropdown" id="servicio_fc" required>
                                                    <option value="">Servicio</option>
                                                    <option value="Instalacion">Instalacion</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui vertically divided grid">
                                    <div class="two column row">
                                        <div class="four wide column">
                                            <label>Fecha de visita</label>
                                            <div class="ui calendar" id="standard_calendar">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input id="fecha_fc" type="text" placeholder="Fecha de visita" autocomplete="off" required>
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                        <div class="four wide column">
                                            <label>Hora de visita</label>
                                            <div class="ui calendar time">
                                                <div class="ui input left icon">
                                                <i class="time icon"></i>
                                                <input id="hora_fc" type="text" placeholder="Hora de visita" autocomplete="off" required>
                                                </div>
                                            </div>
                                            <br/>
                                        </div> 
                                    </div>
                                </div>     
                                <br>
                                <button class="ui red button ">Cancelar</button>
                                <button id="registrar_nuevo" name="registrar_nuevo" class="ui blue submit button ">Registrar</button>    
                            </div>
                        </article>
                    </form>
                    <!--Formulario para solicitudes de clientes que ya estan registrados y quieren realizar una instalación en otro inmueble-->
                    <form action="javascript:void(0);">
                        <article id="Form_inmueble" name="Form_inmueble">
                            <div class="ui form"> 
                                <h4 class="ui dividing header">Solicitud para nuevo inmueble</h4>      
                                <div class="ui vertically divided grid">
                                    <div class="two column row">
                                        <div class="column">
                                        <label>Nombre completo del cliente</label>
                                            <div class="ui fluid search selection dropdown">
                                                <input type="hidden" id="nombre_fi" autocomplete="off" required>
                                                <i class="dropdown icon"></i>
                                                <div class="default text">Nombre del cliente</div>
                                                <div class="menu" id="dropdown_inmueble" name="dropdown_inmueble">
                                                    
                                                </div>
                                            </div>
                                        </select>
                                        </div>
                                        <div class="column">
                                            <label>Domicilio</label>
                                            <input id="domicilio_fi" type="text" placeholder="Domicilio" autocomplete="off" required>
                                        </div>
                                    </div>
                                </div> 
                                <div class="ui vertically divided grid">
                                    <div class="three column row">
                                        <div class="four wide column">
                                            <label>Servicio</label>
                                            <select type="text" class="ui fluid compact selection cliente dropdown" id="servicio_fi" required>
                                                    <option value="">Servicio</option>
                                                    <option value="Instalacion">Instalacion</option>
                                            </select>
                                        </div>
                                        <div class="four wide column">
                                            <label>Fecha de visita</label>
                                            <div class="ui calendar" id="standard_calendar">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input id="fecha_fi" type="text" placeholder="Fecha de visita" autocomplete="off" required>
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                        <div class="four wide column">
                                            <label>Hora de visita</label>
                                            <div class="ui calendar time">
                                                <div class="ui input left icon">
                                                <i class="time icon"></i>
                                                <input id="hora_fi" type="text" placeholder="Hora de visita" autocomplete="off" required>
                                                </div>
                                            </div>
                                            <br/>
                                        </div> 
                                    </div>
                                </div>      
                                <br>
                                <button class="ui red button ">Cancelar</button>
                                <button id="registrar_inmueble" name="registrar_inmueble" class="ui blue submit button ">Registrar</button>    
                            </div>
                        </article>
                    </form>
                    <!--Formulario para solicitudes de clientes que ya estan registrados y quieren añadir un servicio a sus inmuebles-->
                    <form action="javascript:void(0);">
                        <article id="Form_servicio" name="Form_servicio">
                            <div class="ui form"> 
                                <h4 class="ui dividing header">Solicitud para añadir un servicio</h4>      
                                <div class="ui vertically divided grid">
                                    <div class="three column row">
                                        <div class="column">   
                                                <label>Nombre completo del cliente</label>
                                                <div class="ui fluid search selection dropdown" id="dropdown_nombre_fs_select">
                                                    <input type="hidden" id="nombre_fs" autocomplete="off" required>
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Nombre del cliente</div>
                                                    <div class="menu" id="dropdown_servicio">
                                                        
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="six wide column">  
                                                <label>Domicilio del cliente</label>
                                                <div class="ui fluid search selection dropdown" id="dropdown_domicilio_fs_select">
                                                    <input type="hidden" id="domicilio_fs" autocomplete="off" required>
                                                    <i class="dropdown icon"></i>
                                                    <div class="default text">Domicilio</div>
                                                    <div class="menu" id="dropdown_domicilio">
                                                        
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="four wide column">
                                            <label>Servicio</label>
                                            <select class="ui fluid compact selection cliente dropdown" id="servicio_fs" required>
                                                    <option value="">Servicio</option>
                                                    <option value="Instalacion">Instalacion</option>
                                                    <option value="Monitoreo">Monitoreo</option>
                                                    <option value="Mantenimiento">Mantenimiento</option>
                                            </select>
                                        </div>
                                    </div>
                                </div> 
                                <div class="ui vertically divided grid">
                                    <div class="two column row">
                                        <div class="four wide column">
                                            <label>Fecha de visita</label>
                                            <div class="ui calendar" id="standard_calendar">
                                                <div class="ui input left icon">
                                                    <i class="calendar icon"></i>
                                                    <input id="fecha_fs" type="text" placeholder="Fecha de visita" autocomplete="off" required>
                                                </div>
                                            </div>
                                            <br/>
                                        </div>
                                        <div class="four wide column">
                                            <label>Hora de visita</label>
                                            <div class="ui calendar time">
                                                <div class="ui input left icon">
                                                <i class="time icon"></i>
                                                <input id="hora_fs" type="text" placeholder="Hora de visita" autocomplete="off" required>
                                                </div>
                                            </div>
                                            <br/>
                                        </div> 
                                    </div>
                                </div>      
                                <br>
                                <button class="ui red button ">Cancelar</button>
                                <button id="registrar_servicio" name="registrar_servicio" class="ui blue submit button ">Registrar</button>    
                            </div>
                        </article>
                    </form>
                    <!--Modal para cuando se registra una solicitud-->
                    <article>
                        <div class="formulario">
                            <div class="ui small modal" id="confirmar_solicitud">
                                <div class="header">
                                    Confirmación
                                </div>
                                <div class="content">
                                    <h4>La solicitud fue almacenada satisfactoriamente</h4>
                                    <h4>Para continuar con el proceso de la solicitud diríjase a la sección de pendientes</h4>
                                </div>
                                <div class="actions">
                                    <button id="aceptar_solicitud" class="ui blue submit button">Aceptar</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="formulario">
                            <div class="ui mini modal" id="confirmar_cerrar_sesion">
                                <div class="header">
                                    Confirmación
                                </div>
                                <div class="content">
                                    <h4>¿Quiere cerrar sesión?</h4>
                                </div>
                                <div class="actions"> 
                                    <button id="close_cancelar_sesión" class="ui red button">Cancelar</button>
                                    <button id="close_aceptar_sesión" class="ui blue submit button">Aceptar</button> 
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <!-- Scripts de JavaScript--> -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" 
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="/semantic/dist/semantic.min.js"></script>
        <!-- Es el código de JavaScript utilizado en esta página -->
        <script src="/js/solicitudes.js"></script>
        <!-- Codigo para el funcionamiento del calendario-->
        <script src="/js/calendario.js"></script>
    </body>
</html>