<!-- Menú colocado en la parte izquierda -->
<div class="ui large left fixed blue inverted vertical menu">
  <div class="item">
    <!-- Logo de Syscol -->
    <a href="/inicio"> <img class="ui image" src="/img/logo.jpg"></a>
  </div>
  <a href="/solicitudes" class="item">Solicitudes</a>
  <a href="/orden_trabajo" class="item">Orden de trabajo</a>
  <br><br>
  <a href="/pendientes" class="item">Pendientes</a>
  <a href="/monitoreo" class="item">Monitoreo</a>
  <a href="/cobranza" class="item">Cobranza</a>
  <br><br>
  <a href="/reportes" class="item">Reportes</a>
</div>